
header {
	display: flex;

	align-items: center;

	background-color: #202020;
	color: white;
	padding: 10px;
}

.header__title {
	margin: 0 40px 0 0;
}
.header-currency-list {
	display: flex;
	list-style: none;
}
.header-currency-list__item:not(:last-child) {
	margin-right: 20px;
}
.buy {
  margin-right: 10px;
}
